{% extends 'html/base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="container mt-2">
    <div class="card col-md-6 mx-auto">
    	<h3>Contact Page</h3>
    	<form>
    		<input type="text" name="" class="form-control my-2" placeholder="Enter Your Name">
    		<input type="text" name="" class="form-control my-2" placeholder="Enter Your Mobile Number">
    		<input type="email" name="" class="form-control my-2" placeholder="Enter Your Mailid">
    		<div class="row">
    			<input type="reset" value="Reset" class="form-control my-2 mx-1 btn btn-outline-danger col-md">
    			<input type="submit" value="Send" class="form-control my-2 mx-1 btn btn-outline-success col-md">
    		</div>
    	</form>
    </div>
</div>
{% endblock %}

